<world>
	<window width="1280" height="720" />
	<camera>
	  <position x="0" y="100" z="720" />
	  <lookAt x="-100" y="0" z="100" />
	  <up x="0" y="1" z="0" />
	  <projection fov="80" near="10" far="5000" />
	</camera>
	<group>
	  <models>
		<model file="sun.3d" /> <!-- Sun (radius=50) -->
	  </models>
	  <group>
		<transform>
		  <translate x="210" y="0" z="0" />
		</transform>
		<models>
		  <model file="mercury.3d" /> <!-- Mercury (radius=5) -->
		</models>
	  </group>
	  <group>
		<transform>
      <rotate angle="-18.75" x="0" y="1" z="0"/>
		  <translate x="230" y="0" z="0" />
		</transform>
		<models>
		  <model file="venus.3d" /> <!-- Venus (radius=8) -->
		</models>
	  </group>
	  <group>
		<transform>
      <rotate angle="-37.5" x="0" y="1" z="0"/>
		  <translate x="260" y="0" z="0" />
		</transform>
		<models>
		  <model file="earth.3d" /> <!-- Earth (radius=10) -->
		</models>
		<group>
		  <transform>
			<translate x="20" y="0" z="0" />
		  </transform>
		  <models>
			<model file="earth_moon.3d" /> <!-- Moon (radius=3.5) -->
		  </models>
		</group>
	  </group>
	  <group>
		<transform>
      <rotate angle="-56.25" x="0" y="1" z="0"/>
		  <translate x="300" y="0" z="0" />
		</transform>
		<models>
		  <model file="mars.3d" /> <!-- Mars (radius=6) -->
		</models>
		<group>
		  <transform>
			<translate x="15" y="0" z="0" />
		  </transform>
		  <models>
			<model file="mars_moon.3d" /> <!-- Moon (radius=1.5) -->
		  </models>
		</group>
	  </group>
	  <group>
		<transform>
      <rotate angle="-75" x="0" y="1" z="0"/>
		  <translate x="370" y="0" z="0" />
		</transform>
		<models>
		  <model file="jupiter.3d" /> <!-- Jupiter (radius=25) -->
		</models>
		<group>
		  <transform>
			<translate x="40" y="0" z="0" />
		  </transform>
		  <models>
			<model file="jupiter_moon.3d" /> <!-- Moon (radius=5) -->
		  </models>
		</group>
	  </group>
	  <group>
		<transform>
      <rotate angle="-93.75" x="0" y="1" z="0"/>
		  <translate x="470" y="0" z="0" />
		</transform>
		<models>
		  <model file="saturn.3d" /> <!-- Saturn (radius=20) -->
		</models>
		<group>
		  <transform>
			<translate x="34" y="0" z="0" />
		  </transform>
		  <models>
			<model file="saturn_moon_1.3d" /> <!-- Moon (radius=4) -->
		  </models>
		</group>
		<group>
		  <transform>
			<translate x="25" y="0" z="25" />
		  </transform>
		  <models>
			<model file="saturn_moon_2.3d" /> <!-- Moon (radius=3.5) -->
		  </models>
		</group>
		<group>
		  <transform>
			<translate x="0" y="0" z="34" />
		  </transform>
		  <models>
			<model file="saturn_moon_3.3d" /> <!-- Moon (radius=2) -->
		  </models>
		</group>
	  </group>
	  <group>
		<transform>
      <rotate angle="-131.25" x="0" y="1" z="0"/>
		  <translate x="600" y="0" z="0" />
		</transform>
		<models>
		  <model file="uranus.3d" /> <!-- Uranus (radius=15) -->
		</models>
		<group>
		  <transform>
			<translate x="30" y="0" z="0"/>
		  </transform>
		  <models>
			<model file="uranus_moon.3d" /> <!-- Moon (radius=3) -->
		  </models>
		</group>
	  </group>
	  <group>
		<transform>
      <rotate angle="-150" x="0" y="1" z="0"/>
		  <translate x="700" y="0" z="0" />
		</transform>
		<models>
		  <model file="neptune.3d" /> <!-- Neptune (radius=14) -->
		</models>
		<group>
		  <transform>
			<translate x="30" y="0" z="0" />
		  </transform>
		  <models>
			<model file="neptune_moon.3d" /> <!-- Moon (radius=2.5) -->
		  </models>
		</group>
	  </group>
	  </group>
	  </world>